:root {
    --main-white: #FFFFFF;
    --secondary-gray: #C0C0C0;
    --button-blue: #167BF7;
    --background-color: #00030C;
    --main-font-family: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--main-white)
}

.container__aviso {
    font-size: 12px;
    color: var(--secondary-gray);
}

.container__imagem {
    margin: 1em 0em 2em 0em;
}

.container__caixa {
    margin: 0em 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0em 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: #F9F9F9;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 1em;
}