:root {
    --main-white: #FFFFFF;
    --secondary-gray: #C0C0C0;
    --button-blue: #167BF7;
    --background-color: #00030C;
    --main-font-family: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(0,3,12);
    background: linear-gradient(171deg, rgba(0,3,12,1) 25%, rgba(9,55,121,1) 50%, rgba(0,3,12,1) 75%);  
    color: var(--main-white);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: #ff0041;
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    transition: .5s;
}

.container__botao:hover {
    font-size: 17px;
    padding: 15px;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid #ff0041;
}

.container__aviso {
    font-size: 12px;
    color: var(--secondary-gray);
}

.container__imagem {
    margin: 1em 0em 2em 0em;
}

.container__caixa {
    margin: 1em 6em;
    background-color: #00030cc5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ff0041;
    transition: 1s;
}

.container__caixa:hover {
    background-color: #00030c80;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0em 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: #F9F9F9;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 1em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--main-white);
}

.lista__item {
    font-size: 32px;
    color: var(--main-white);
}

.rodape {
    text-align: center;
    padding: 5em;
}

.rodape__logo {
    margin: 2em 0em 2.5em 0em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.lista__link {
    margin: 0em .5em;
    font-size: 16px;
    font-weight: 400;
}

.lista__link a {
    text-decoration: none;
    color: var(--main-white);
}

.lista__link a:hover {
    text-decoration: underline;
}

.lista__link a:active {
    color: var(--button-blue);
}

.rodape__texto {
    color: var(--secondary-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 1.5em 0em;
}